<nav>
    <div class="abucom">
        <a href="/">Abucom</a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="hamburger">
        <button>
            <span></span><span></span><span></span>
        </button>
    </div>
</nav>